
<!-- To add to it's on component and fix css when adding -->
<div class="navbar">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/capture-face">Capture Face</a>
        </li>
        <li>
            <a href="/error">Error</a>
        </li>
        <li>
            <a href="#">Settings</a>
        </li>
    </ul>
</div>
<a class="button" href="/capture-face">Sign in</a>
<div class="width33">
    <img src="/assets/AngularTestPicture.svg" width="20%">
</div>
