<h1>Sign in</h1>

<div class="container">
  <form (ngSubmit)="onSubmit($event)">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Username" #username>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Password" #password>
    <p *ngIf="!userExists" class="error">Username or password is invalid</p><br>
  
    <input type="submit" id="submitButton" value="Submit">
  </form>
</div>