/* You can add global styles to this file, and also import other style files */

#colourpallette{
    color: #000b00; /* black */
    color: #001300; /* Dark Green */
    color: #091900; /* Lighter Green */
    color: #DFD686;
    color: #9a8f7d; /* Beige */
    color: #e5e4df; /* Light Taupe */
    color: #ffffff; /* White:  */
}

body{
    background-color: #091900;
    text-align: center;
    font-family: "Didot", serif;
}

h1{
    color: #dac898;
    font-size: 5vw;
}

h2{
    font-size: 4vw;
}

h3{
    font-size: 3vw;
}

.button {
    display: inline-block;
    padding: 1% 2%;
    font-size: 4vw;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000;
    background-color: #dac898;
    border: none;
    border-radius: 15px;
    box-shadow: 0 1vw #999;
    margin: 2vw;
}

p {
    color: #dac898;
    font-size: 2vw;
}

.button:hover {
    background-color: #a8a5a1;
}

.button:active {
    background-color: #e2e0da;
    transform: translateY(1vw);
}
