<app-header></app-header>
<br><br><br><br><br><br><br><br><br>
<main>
<mat-card>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput  name="Name" #EmailInput maxlength="100">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput  name="Name" #NameInput maxlength="15">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput [type]="showPassword ? 'text' : 'password'" name="password" #PassInput maxlength="15">
    <mat-icon matSuffix (click)="togglePasswordVisibility()">visibility</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Confirm Password</mat-label>
    <input matInput [type]="showPassword ? 'text' : 'password'" name="password" #PassInput2 maxlength="15">
    <mat-icon matSuffix (click)="togglePasswordVisibility()">visibility</mat-icon>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onSignUp(NameInput,PassInput,EmailInput,PassInput2)">Sign Up</button>
</mat-card>

<hr>


