 
.inputField {
  display: block;
  font-size: large;
  margin-left: 10%;
  margin-right: 10%;
}

.signUpCard {
  width: 50%;
  height: 30%;
  margin: auto;
  margin-top: 10%;
  block-size: fit-content;
}
