<mat-card class="signUpCard">

  <mat-form-field appearance="fill" class="inputField">
    <mat-label>Username</mat-label>
    <input matInput #usernameInput maxlength="15">
  </mat-form-field>

  <mat-form-field appearance="fill" class="inputField">
    <mat-label>Password</mat-label>
    <input matInput [type]="showPassword ? 'text' : 'password'" #passwordInput maxlength="15">
    <mat-icon matSuffix (click)="togglePasswordVisibility()">visibility</mat-icon>
  </mat-form-field>

  <button mat-raised-button (click)="onSignUp(usernameInput, passwordInput)" class="submitButton">Sign Up</button>
  
</mat-card>
